*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#5c0abb;
    padding: 10px;
    
}


.jewel-container{
    display: flex;
    flex-wrap: wrap;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    color: white;
}

.nav-items > ul > li {
    padding: 8px;
    
} 

.jewel-card{
    margin: 20px;
    width: 200px;
    border: 1px solid #000;
}

.search{
    padding: 10px;
}

.gold-card{
    padding: 15px;
    width: 190px;
    height: auto;
}
